.header {
  width: 100%;
  cursor: pointer;
  position: fixed;
  display: flex;
  justify-content:center;
  background: #E7E9BB;  
  background: -webkit-linear-gradient(to right,#403B4A, #E7E9BB); 
  background: linear-gradient(to right,#403B4A, #E7E9BB); 
  font-family:'Courier New', Courier, monospace;
  font-size: 50px;
  font-style:oblique;
  padding: 10px;
  font-weight: bold;
  box-shadow: 0px 1px 5px black;
  color: rgb(0, 0, 0);
  z-index: 100;
}

@media (max-width: 1000px) {
  .header {
    padding-top: 15px;
    font-size: 6.4vw;
  }
}
